@import "../../../../css/app-colors";
@import "../../../../css/app-main-vars";
@import "../../../../css/ui-expandable";

.row{
  display: inline-block;
  width: 100%;
  span{
    padding: 0.125rem;
  }
  margin-bottom: 0.5rem;
}
.info-container{
  margin:0.5rem;
  animation: animateMe 1s;
}
@keyframes animateMe {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
