<div class="container">
    <h1>csb-ext</h1>

    <h2>1) ext-map-territory</h2>
    <span>tea_dev.a_generate_map_viz(lang,year,m1,m2,m3,m4,t1,t2)</span><br>
    <a href="{{HOST}}/lv/ext-map-territory/2020/workplace/number-of-workplaces/territories-3/all/none/none">https://tools.csb.gov.lv/tea_3/external/lv/ext-map-territory/2020/workplace/number-of-workplaces/territories-3/all/none/none</a>

    <h2>2) ext-map-viz</h2>
    <span>tea_dev.a_generate_map(lang,year,m1,m2,m3,m4,t1,t2,gvf)</span><br>

    <h4>viz-circles</h4>
    <a href="{{HOST}}/lv/ext-map-viz/2020/workplace/number-of-employees/territories-3/all/none/none">https://tools.csb.gov.lv/tea_3/external/lv/ext-map-viz/2020/workplace/number-of-employees/territories-3/all/none/none</a>

    <h4>viz-circles-region</h4>
    <a href="{{HOST}}/lv/ext-map-viz/2020/workplace/number-of-employees/territories-3/LV0023000/none/none" >https://tools.csb.gov.lv/tea_3/external/lv/ext-map-viz/2020/workplace/number-of-employees/territories-3/LV0023000/none/none</a>

    <h4>viz-circles-sectors</h4>
    <a href="{{HOST}}/lv/ext-map-viz/2020/place-of-residence/added-value/territories-3/all/profession/none">https://tools.csb.gov.lv/tea_3/external/lv/ext-map-viz/2020/place-of-residence/added-value/territories-3/all/profession/none</a>

    <h4>viz-circles-sectors-region</h4>
    <a href="{{HOST}}/lv/ext-map-viz/2020/place-of-residence/added-value/territories-3/LV0023000/profession/none">https://tools.csb.gov.lv/tea_3/external/lv/ext-map-viz/2020/place-of-residence/added-value/territories-3/LV0023000/profession/none</a>

    <h2>3) ext-percentage-bar</h2>
    <span>tea_dev.a_generate_percentage_bar(lang,year,m1,m2,m3,m4,t1,t2)</span><br>

    <a href="{{HOST}}/lv/ext-percentage-bar/2020/workplace/number-of-workplaces/territories-3/all/none/none">https://tools.csb.gov.lv/tea_3/external/lv/ext-percentage-bar/2020/workplace/number-of-workplaces/territories-3/all/none/none</a>

    <h2>4) ext-percentage-list</h2>
    <span>tea_dev.a_generate_percentage_list(lang,year,m1,m2,m3,m4,t1,t2)</span><br>
    <a href="{{HOST}}/lv/ext-percentage-list/2020/workplace/number-of-workplaces/territories-3/all/none/none">https://tools.csb.gov.lv/tea_3/external/lv/ext-percentage-list/2020/workplace/number-of-workplaces/territories-3/all/none/none</a>

    <h2>5) ext-pie-chart</h2>
    <span>tea_dev.a_generate_pie_chart(lang,year,m1,m2,m3,m4,t1,t2,direction)</span><br>

    <h4>out:</h4>
    <a href="{{HOST}}/lv/ext-pie-chart/2020/workplace/number-of-workplaces/territories-3/LV0023000/none/none/out">https://tools.csb.gov.lv/tea_3/external/lv/ext-pie-chart/2020/workplace/number-of-workplaces/territories-3/LV0023000/none/none/out</a>

    <h4>in:</h4>
    <a href="{{HOST}}/lv/ext-pie-chart/2020/workplace/number-of-workplaces/territories-3/LV0023000/none/none/in">https://tools.csb.gov.lv/tea_3/external/lv/ext-pie-chart/2020/workplace/number-of-workplaces/territories-3/LV0023000/none/none/in</a>

    <h2>6) ext-lines-chart</h2>
    <span>tea_dev.a_generate_lines_chart(lang,year,m1,m2,m3,m4,t1,t2)</span><br>
    <a href="{{HOST}}/lv/ext-lines-chart/2020/workplace/number-of-workplaces/territories-3/all/none/none">https://tools.csb.gov.lv/tea_3/external/lv/ext-lines-chart/2020/workplace/number-of-workplaces/territories-3/all/none/none</a>

    <h2>7) ext-flow-chart</h2>
    <span>tea_dev.a_generate_flow_chart(lang,year,m1,m2,m3,m4,t1,t2)</span><br>
    <a href="{{HOST}}/lv/ext-flow-chart/2018/place-of-residence/number-of-employees/territories-4/LV0020400/profession/none">https://tools.csb.gov.lv/tea_3/external/lv/ext-flow-chart/2018/place-of-residence/number-of-employees/territories-4/LV0020400/profession/none</a>

    <h2>8) ext-scatter-plot</h2>
    <span>tea_dev.a_generate_scatter_plot(lang,year,m1,m2,m3,m4,t1,t2,sx,sy)</span><br>
    <a href="{{HOST}}/lv/ext-scatter-plot/2020/workplace/number-of-workplaces/territories-3/all/none/none/va_w/wp">https://tools.csb.gov.lv/tea_3/external/lv/ext-scatter-plot/2020/workplace/number-of-workplaces/territories-3/all/none/none/va_w/wp</a>


</div>
