<div class="comp" #comp>
  <div id="chart" class="chart" *ngIf="service.content!==null">
    <div class="section">
      <ul class="nav csb-nav">
        <li class="nav-item"  *ngFor="let vo of service.content,let i=index;">
          <p [ngClass]="i==service.id?'csb-nav-item-active':'csb-nav-item'" (click)="onTabClick(i)">{{vo.tab.name}}</p>
        </li>
      </ul>
    </div>
    <h4 class="title" style="text-align: center">{{service.title}}</h4>
    <div class="content-area" id="{{chart_id}}">
    </div>
  </div>
  <share-button  [URL]="URL"></share-button>
  <service-error *ngIf="error!==null" [data]="error"></service-error>
  <service-empty *ngIf="empty!==null" [data]="empty"></service-empty>
</div>



