<div class="csb-app" id="csbApp" #view>
  <div class="csb-top-menu">
    <app-top-menu></app-top-menu>
  </div>
  <div class="csb-container" *ngIf="initialized==true">
    <main [ngClass]="mobile==true?'csb-content-mob':'csb-content-max'">

      <ng-container *ngIf="mobile==false">
          <div class="clr-row">
            <div class="clr-col-4">
              <block-m1-m2-m3-m4-t1-t2></block-m1-m2-m3-m4-t1-t2>
            </div>
            <div class="clr-col-8">
              <block-map></block-map>
            </div>
          </div>
      </ng-container>
      <!----------------------->
      <!-- expandable blocks -->
      <!----------------------->
      <ng-container *ngIf="mobile==true">
        <block-m1-m2-m3-m4-t1-t2></block-m1-m2-m3-m4-t1-t2>
        <block-map></block-map>
      </ng-container>
    </main>
  </div>
  <app-footer [containerID]="'csbApp'" [scrollTop]="false"></app-footer>
</div>



